@import url("https://fonts.googleapis.com/css2?family=Open+Sans:400,700&display=swap");

:root {
  --primary-color: rgb(17, 86, 102);
  --secondary-color: #fff;
  --primary-color-darcker: rgb(9, 48, 56);
  --third-color: rgb(14, 160, 189);
  --fourth-color: rgb(235, 57, 95);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}
.container {
  max-width: 640px;
  margin: 50px auto;
  background: var(--secondary-color);
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  border-radius: 10px;
  border: 1px solid;
}

form input:focus {
  outline: 1px solid var(--third-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 10px;
}

form button:hover {
  background: var(--primary-color-darcker);
}
form button:active {
  background: var(--third-color);
}
.tabela {
  display: flex;
  justify-content: space-between;
}

.tabela div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Imc {
  height: 5px;
}
.categorias {
  height: 5px;
}
.categoriaResult {
  height: 5px;
  margin-left: -75px;
  margin-top: 15px;
}
.statusResult {
  height: 5px;
  margin-top: 5px;
}
.pesoIMC {
  height: 5px;
  margin-top: 5px;
}

.clasificacao {
  height: 5px;
  margin-left: -145px;
  margin-top: 20px;
}

.tabelaIMC {
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoriaResult {
  height: 5px;
}
.inputImc {
  width: 100%;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.peso {
  height: 160px;
}
#formulario {
  margin-top: -190px;
}
.mostrar,
.invalido {
  background: var(--third-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 10px;
}
.invalido {
  background: var(--fourth-color);
}
